In [1]:
def read_input():
    with open('input.txt', 'rt') as f:
        return f.readlines()

In [9]:
lines = read_input()
lines[-1]
totals = []
total = 0
for line in lines:
    line = line.strip()
    if not line:
        totals.append(total)
        total = 0
    else:
        total += int(line)
totals.append(total)
totals = sorted(totals, reverse=True)

[70296,
 68707,
 66378,
 66193,
 63414,
 63131,
 62799,
 62448,
 61755,
 60856,
 60856,
 60495,
 60336,
 60325,
 60309,
 60041,
 60028,
 59804,
 59684,
 59616,
 59561,
 59522,
 59493,
 59392,
 59183,
 58888,
 58863,
 58696,
 58352,
 58130,
 57860,
 57792,
 57632,
 57352,
 56565,
 56208,
 56110,
 56007,
 55933,
 55874,
 55818,
 55679,
 55614,
 55522,
 55394,
 55335,
 55177,
 55167,
 55116,
 54891,
 54885,
 54858,
 54791,
 54617,
 54596,
 54466,
 54436,
 54333,
 54277,
 54152,
 54105,
 54002,
 53995,
 53870,
 53770,
 53687,
 53665,
 53660,
 53414,
 53396,
 53305,
 53273,
 53188,
 53177,
 53125,
 53074,
 53035,
 52988,
 52977,
 52802,
 52750,
 52702,
 52697,
 52642,
 52635,
 52620,
 52524,
 52478,
 52385,
 52340,
 52322,
 52052,
 51792,
 51697,
 51689,
 51597,
 51442,
 51329,
 51306,
 51300,
 51074,
 50954,
 50920,
 50910,
 50662,
 50661,
 50638,
 50385,
 50278,
 50274,
 50117,
 49898,
 49869,
 49720,
 49643,
 49571,
 49516,
 49464,
 49419,
 49178,
 49097,
 48878,
 48845,
 48734,
 48695,
 48391,
 48257,
 48017,
 47864,
 47818,
 47732,
 47671,
 47551,
 47469,
 47429,
 47410,
 47377,
 47218,
 47215,
 47031,
 46724,
 46537,
 46518,
 46473,
 46393,
 46378,
 46316,
 46202,
 46058,
 45966,
 45779,
 45773,
 45682,
 45552,
 45431,
 44931,
 44915,
 44903,
 44898,
 44884,
 44702,
 44517,
 44476,
 44082,
 43920,
 43754,
 43722,
 43719,
 43699,
 43518,
 43296,
 43276,
 43151,
 42993,
 42890,
 42692,
 42609,
 42487,
 42131,
 42017,
 41991,
 41676,
 41675,
 41272,
 41162,
 41117,
 40931,
 40910,
 39931,
 39438,
 39218,
 39097,
 38773,
 38674,
 38488,
 38487,
 38058,
 38016,
 37837,
 37458,
 37254,
 37132,
 37036,
 36796,
 36580,
 36353,
 36325,
 35992,
 35706,
 35580,
 35477,
 35206,
 35109,
 35049,
 34863,
 34804,
 34121,
 33234,
 33185,
 32670,
 32629,
 31471,
 31210,
 30550,
 30180,
 30004,
 29389,
 27936,
 27392,
 26171,
 26009,
 25376,
 24947,
 19321,
 14718,
 14082,
 14016,
 10362,
 5568,
 1199]

In [13]:
# Part 1
totals[0]

70296

In [12]:
# Part 2
sum(totals[0:3])

205381